<!DOCTYPE html>
<html lang="en">
<head>
  <title>IV</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Mano IV skaičiuoklė</h1>
    <h2><a href = "{{ url_for('show_all') }}">Pradžia</a></h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Visos pajamos</h3>
      <td>€{{ visa }}</td>
    </div>
    <div class="col-sm-4">
      <h3>Atidėta mokesčiams</h3>
      <td>€{{ atideta }} </td>
    </div>
    <div class="col-sm-4">
      <h3>Saugus balansas</h3>
        <td>€{{ saugus }} </td>
    </div>
  </div>
</div>

<div class="container">
  {% block content %}{% endblock %}
</div>
</body>
</html>
